In [96]:
import numpy as np
#import openpyxl
import pandas as pd
import sys

In [108]:
path = "/home/jovyan/work/resources/datasets/"
inputfile="airveda_data__1209210100.csv" #journey_data_1212190084.csv  , airveda_data__1209210100.csv
#inputfile=sys.argv[1]
Latitude="Latitude"
Longitude="Longitude"
Country="India"
State="Telangana"
District="Ranaga Reddy"
Locality="BN Reddy"
Monitor_S_no="1209210100"
Monitor_manufacture="Airveda"
Monitor_type="Static" #Static or Portable
Project_name="Mphasis-3CS-AQ"
Data_collector_name="Srinivas"
Data_ownership="Mphasis-3CS-AQ"
Context="Write the context"
outputfile=path+Data_collector_name+"_Consolidated.csv"

In [112]:
try:
    df_read = pd.read_csv(path+inputfile)
except IOError:
    print("Could not read the file:",inputfile)

column_headers=list(df_read.head(0))
#print(column_headers)
#extra_col_to_insert=["","","","","","","Country","State","District","Locality","Monitor S.No","Monitor Manufacture","Monitor type","Project Name","Data collector name","Data ownership","Context(Audio/Video/Text/link)"]

df_read.insert(0,'Data ownership','')
df_read['Data ownership'] = Data_ownership
    
df_read.insert(0,'Data collector name','')
df_read['Data collector name'] = Data_collector_name
    
    
df_read.insert(0,'Project name','')
df_read['Project name'] = Project_name
    
df_read.insert(0,'Monitor type','')
df_read['Monitor type'] = Monitor_type
    
df_read.insert(0,'Monitor manufacture','')
df_read['Monitor manufacture'] = Monitor_manufacture
    
df_read.insert(0,'Monitor S.No','')
df_read['Monitor S.No'] = Monitor_S_no
    
df_read.insert(0,'Locality','')
df_read['Locality'] = Locality
    
df_read.insert(0,'District','')
df_read['District'] = District
    
df_read.insert(0,'State','')
df_read['State'] = State    
    
df_read.insert(0,'Country','')
df_read['Country'] = Country

if "Latitude" and "Longitude" not in column_headers:
    df_read.insert(11,'Latitude','')
    df_read['Latitude'] = Latitude
    
    df_read.insert(12,'Longitude','')
    df_read['Longitude'] = Longitude
       
print(df_read)
try:
    df_read.to_csv(outputfile, index=False, header=False, sep=',', mode='a')
except IOError:
    print("Could not write the file:",outputfile)

#Remove dublicate rows if we upload the same file again.    
df = pd.read_csv(outputfile)
df.drop_duplicates(inplace=True)
df.to_csv(outputfile, index=False)

     Country      State      District  Locality Monitor S.No  \
0      India  Telangana  Ranaga Reddy  BN Reddy   1209210100
1      India  Telangana  Ranaga Reddy  BN Reddy   1209210100
2      India  Telangana  Ranaga Reddy  BN Reddy   1209210100
3      India  Telangana  Ranaga Reddy  BN Reddy   1209210100
4      India  Telangana  Ranaga Reddy  BN Reddy   1209210100
...      ...        ...           ...       ...          ...
1215   India  Telangana  Ranaga Reddy  BN Reddy   1209210100
1216   India  Telangana  Ranaga Reddy  BN Reddy   1209210100
1217   India  Telangana  Ranaga Reddy  BN Reddy   1209210100
1218   India  Telangana  Ranaga Reddy  BN Reddy   1209210100
1219   India  Telangana  Ranaga Reddy  BN Reddy   1209210100

     Monitor manufacture Monitor type    Project name Data collector name  \
0                Airveda       Static  Mphasis-3CS-AQ            Srinivas
1                Airveda       Static  Mphasis-3CS-AQ            Srinivas
2                Airveda       Static  Mphasis-3CS-AQ            Srinivas
3                Airveda       Static  Mphasis-3CS-AQ            Srinivas
4                Airveda       Static  Mphasis-3CS-AQ            Srinivas
...                  ...          ...             ...                 ...
1215             Airveda       Static  Mphasis-3CS-AQ            Srinivas
1216             Airveda       Static  Mphasis-3CS-AQ            Srinivas
1217             Airveda       Static  Mphasis-3CS-AQ            Srinivas
1218             Airveda       Static  Mphasis-3CS-AQ            Srinivas
1219             Airveda       Static  Mphasis-3CS-AQ            Srinivas

      Data ownership Created_Date(Asia/Kolkata)  Latitude  Longitude  AQI  \
0     Mphasis-3CS-AQ        2022-03-02 11:30:00  Latitude  Longitude   43
1     Mphasis-3CS-AQ        2022-03-02 12:00:00  Latitude  Longitude   30
2     Mphasis-3CS-AQ        2022-03-02 12:30:00  Latitude  Longitude   27
3     Mphasis-3CS-AQ        2022-03-02 13:00:00  Latitude  Longitude   24
4     Mphasis-3CS-AQ        2022-03-02 13:30:00  Latitude  Longitude   27
...              ...                        ...       ...        ...  ...
1215  Mphasis-3CS-AQ        2022-04-01 09:00:00  Latitude  Longitude  157
1216  Mphasis-3CS-AQ        2022-04-01 09:30:00  Latitude  Longitude  113
1217  Mphasis-3CS-AQ        2022-04-01 10:00:00  Latitude  Longitude   97
1218  Mphasis-3CS-AQ        2022-04-01 10:30:00  Latitude  Longitude   95
1219  Mphasis-3CS-AQ        2022-04-01 11:00:00  Latitude  Longitude   93

      PM2.5   PM10  Temperature  Humidity
0      12.0   43.0         29.0      37.0
1       9.0   30.0         30.0      34.0
2      10.0   27.0         30.0      31.0
3      10.0   24.0         30.0      30.0
4      10.0   27.0         30.0      29.0
...     ...    ...          ...       ...
1215   77.0  141.0         34.0      58.0
1216   64.0  108.0         33.0      59.0
1217   58.0   95.0         33.0      59.0
1218   57.0   92.0         33.0      59.0
1219   56.0   89.0         33.0      58.0

[1220 rows x 18 columns]